<div class = "container">
	<div class = "row">
		<div class="intro">
			<img src= "<%= Gchart.pie_3d(title: "Win/loss ratio", background: 'AD9393', legend:["Win", "Loss"], data: [5, 95]) %>" >
		</div>
	</div>
</div>