<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="intro-message">
                    <h1>Summoner's Universe</h1><br>
                    <h3>Improve Your League of Legends' knowledge.</h3>
                </div>
            </div>
        </div>

    </div>
</div>

  <div class="jumbotron">
      <div class="row">
          <div class="col-sm-12">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">Choose your hero!</h2>
              <p class="lead">After making an account, select your hero to do battle.</p>
              <p class = "lead">Currently, you may select from six heroes, with more coming in the future.</p>
              <p class = "lead">Do you have what it takes to complete your challenge? See below for an example!</p>
          </div>
        </div>
          <div class = "row">
          <div class="col-sm-12">
            <%=image_tag("champions.png", alt: "", class: "img-responsive champions") %>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
                <h2 class="section-heading">Begin Battle!</h2>
                <p class="lead">You will have ten minutes to answer all the questions provided.</p>
                <p class="lead">These questions will test your knowledge in basic combat situations. You are given four items to choose from to answer the question.</p>
                <p class ="lead">If you aren't sure which item to select, just hover over the image. A tooltip that tells you what that item does will appear on the page.</p>
          </div>
        </div>
          <div class = "row">
          <div class="col-sm-12">
              <%=image_tag("game.png", alt: "", class: "img-responsive game") %>
          </div>
          </div>
        <div class="row">
          <div class="col-sm-12">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
                <h2 class="section-heading">Your Stats</h2>
                <p class="lead">Your win/loss ration is tracked internally and displayed on your profile page via pie chart.</p>
          </div>
        <div class = "row">
          <div class="col-sm-12">
              <%=image_tag("winloss.png", alt: "", class: "img-responsive game") %>
          </div>
          </div>
  </div>
