<div class = "row">
	<div class = "twelve columns">
		You are <%= @game.picked_champion %>!
		<%= @game.battles.first.question_text %>
		<%= @game.battles.first.possible_answers %>
		<%= @game.battles.fifth.question_text %>
	</div>
</div>
