.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar .root {
    float: left;
    margin-bottom: 0;
}

.navbar .non-root {
    float: right;
    margin-bottom: 0;
}

.navbar ul li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.navbar ul li a:hover {
    background-color: #111;
}

.intro {
  text-align: center;
}

.champion-img{
  width: 100%;
}

.champion-info{
  text-align: center;
}